ANTHROPIC_API_KEY=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
FIRECRAWL_API_KEY=fc-41f6b069d5234226bd9f58e31e4717eb
OPENAI_API_KEY=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